@import "variables";
@import "mixins";


@include fancy-links;

body {
  font-family: sans-serif;
  color: $text-color;

}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

p {
  font-family: $text-font;
}

a {
  color: $link-color;
}

.warning-button{
  @include box;
  @include warning;
  padding: 8px 12px;
  color: white;
}

#header {
  height: $header-height;
  background-color: $theme-color;
  @include box($border, 1px solid, red);


  #main-menu {

    li{
      display: inline;
    }

    a{
      color: $menu-item-color;
    }

  }
  
  #logo {

  }
}

#main {
  margin-left: auto;
  margin-right: auto;
  width: $content-width;

  #content {
  }

  #sidebar {
  }
}

#footer {

  height: $footer-height;
  background-color: $ternary-color;

}
